
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; 
    color: #333; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0047ab; 
    color: #fff; 
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.registro-form {
    background-color: #fff;
    border: 2px solid #0047ab;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #0047ab; /* Azul */
    text-align: left;
    width: 100%;
    margin: 10px 0 5px;
}

.registro-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.registro-form input:focus {
    outline: none;
    border-color: #0047ab;
    box-shadow: 0 0 5px rgba(0, 71, 171, 0.5);
}

.registro-form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0047ab;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registro-form button:hover {
    background-color: #003580; /* Azul más oscuro */
}

main p {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

main p a {
    color: #0047ab;
    text-decoration: none;
    font-weight: bold;
}

main p a:hover {
    text-decoration: underline;
}